.experience {
	width: 450px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: left;
	margin-top: 1em;

	h1 {
		align-self: center;
		font-size: 2em;
		font-style: italic;
		margin-top: 10px;
	}

	ul {
		font-size: 1.3em;
		list-style-type: circle;
		text-align: left;

		li {
			margin-top: 10px;

			a {
				color: var(--secondary);
				text-decoration: none;
				font-size: inherit;
				line-height: inherit;
				display: inline-block;
				margin: 0;
				padding-bottom: 2px;
				background-image: linear-gradient(currentColor, currentColor);
				background-repeat: no-repeat;
				background-position: 0 100%;
				background-size: 0% 2px;
				transition: background-size 200ms ease;
				font-weight: 700;
			}

			a:hover {
				background-size: 100% 2px;
			}
		}

		li:hover {
			animation-name: shift;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
		}

		li:not(:hover) {
			animation-name: shift-back;
			animation-duration: 0.5s;
		}
	}

}

