.experience {
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	h1 {
		align-self: center;
		font-size: 1.9em;
		font-style: italic;
		margin-bottom: 5px;
	}

	.experience-flex {
		width: 450px;
		display: flex;
		flex-direction: column;
		align-items: left;


		ul {
			font-size: 1.25em;
			list-style-type: circle;
			text-align: left;

			li {
				margin-top: 10px;

				a {
					color: var(--secondary);
					text-decoration: none;
					font-size: inherit;
					line-height: inherit;
					display: inline-block;
					margin: 0;
					padding-bottom: 2px;
					background-image: linear-gradient(currentColor, currentColor);
					background-repeat: no-repeat;
					background-position: 0 100%;
					background-size: 0% 2px;
					transition: background-size 200ms ease;
					font-weight: 700;
				}

				a:hover {
					background-size: 100% 2px;
				}
			}

			li:hover {
				animation-name: shift;
				animation-duration: 0.5s;
				animation-fill-mode: forwards;
			}

			li:not(:hover) {
				animation-name: shift-back;
				animation-duration: 0.5s;
			}
		}
	}
}

@media (max-width: 820px) {
	.experience {
		max-width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
		padding-left: 30px;
		padding-right: 30px;

		h1 {
			align-self: center;
			font-size: 1.9em;
			font-style: italic;
			margin-top: 10px;
		}

		.experience-flex {
			width: 100%;
			max-width: 450px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 0;


			ul {
				font-size: 1.25em;
				list-style-type: circle;
				text-align: ce;

				li {
					margin-top: 10px;

					a {
						color: var(--secondary);
						text-decoration: none;
						font-size: inherit;
						line-height: inherit;
						display: inline-block;
						margin: 0;
						padding-bottom: 2px;
						background-image: linear-gradient(currentColor, currentColor);
						background-repeat: no-repeat;
						background-position: 0 100%;
						background-size: 0% 2px;
						transition: background-size 200ms ease;
						font-weight: 700;
					}

					a:hover {
						background-size: 100% 2px;
					}
				}

				li:hover {
					animation-name: shift;
					animation-duration: 0.5s;
					animation-fill-mode: forwards;
				}

				li:not(:hover) {
					animation-name: shift-back;
					animation-duration: 0.5s;
				}
			}
		}
	}
}